* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.rent {
    background: radial-gradient(#1e3230, #161616);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.title {
    color: #dbd37b;
    margin: 10px 20px;
    text-align: center;
    margin-bottom: 100px;
}

/*span вложен в title */
.title span {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style: none;
    color: white;
}


.list {
    display: flex;
    column-gap: 50px;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
    padding-left: 0;
}

.item {
    max-width: 120px;
    text-align: center;
}

.item__img {
    height: 50px;
}

.item__text {}

.btn {
    background-color: #e5db79;
    border-radius: 5px;
    border: 1px solid #e7aa03;
    padding: 5px 10px;
    box-shadow: 0px 0px 5px 1px #e7aa03;
}

.rent__img {
    max-width: 1000px;
    width: 80%;
}

.btn-wrap {
    text-align: center;
    padding: 50px 0 50px;

}

.btn:hover {
    background-color: #d2c235;
    cursor: pointer;
}


.btn:active {
    transform: translate(1px, 1px);
}

.item::after {
    content: '☺';
}


@media (max-width: 769px) {
    .rent {
        background: #31315a;
    }

    .rent__img {
        max-width: 300px;
    }
}

@media (max-width: 425px) {
    .rent {
        background: radial-gradient(#1e3230, #161616);
    }

    .rent__img {
        display: none;
    }
}